body {
    margin: 8px;
    min-height: 100vh;
    max-height: 100vh;
}

.margin {
    margin: 16px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-answer-card:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.bg-success,
.bg-danger {
    color: white !important;
}

.card-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
}

.image {
    width: auto;
    height: 120px;
}

.text-center {
    text-align: center;
}

.progress {
    --bs-progress-bg: rgb(12, 109, 253) !important;
    --bs-progress-border-radius: 0 !important;
    --bs-progress-height: 0.5rem !important;
}

